<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Sign in to see your Fantasy Team and League info</h1>
        <p class="lead">
        <form class="form form-horizontal" method="post" th:action="@{/login}" th:object="${websiteCredentials}">
            <!--/* Show general error message when form contains errors */-->
            <th:block th:if="${#fields.hasErrors('${websiteCredentials.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
            </th:block>
            <fieldset>
                <legend>Use your fantasy.premierleague.com credentials</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-3">
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-3">
                        <button type="submit" class="btn btn-success">Sign In</button>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p>
                    </div>
                </div>-->
            </fieldset>
        </form>
        </p>
       <!-- <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
        </p>-->
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>