<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <div>
        Welcome <span sec:authentication="name"></span>
    </div>
    <div class="panel">
        <div class="page-header">
            <span class="panel-title" th:text="${{team.name}}"/>
        </div>
        <table class="table-bordered table-striped">
            <th>
                <tr>
                    <td>Name</td>
                    <td>Selected?</td>
                    <td>Available?</td>
                    <td>Matchday Pts</td>
                </tr>
            </th>
            <tbody>
            <tr th:each="player : ${team.players}">
                <td th:text="${player.lastName}"></td>
                <td th:boolean="${player.isSelected}"></td>
                <td th:boolean="${player.isAvailable}"></td>
                <td th:text="${player.points}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>